<ion-header no-shadow>
  <div class="text-center p-4">
    <ion-title>Ingresa a tu Cuenta</ion-title>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="p-6">
    <div class="flex flex-col justify-center items-center">
      <img class="w-24" src="https://cdn-icons-png.flaticon.com/512/187/187879.png" alt="logo">
      <ion-title class="mt-3">Company Name</ion-title>
    </div>
    <form class="mt-6" [formGroup]="loginForm" novalidate>
      <div class="mb-2">Email</div>
      <ion-item fill="outline" mode="md">
        <ion-label></ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="mt-6 mb-2">Contraseña</div>
      <ion-item fill="outline" mode="md">
        <ion-label></ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="my-3 text-right">
        <a>Olvidaste tu contraseña?</a>
      </div>
      <ion-button class="my-6" expand="block" (click)="submitForm()">Login</ion-button>
      <div class="text-center my-7">
        <span>O ingresa con tu cuenta de</span>
      </div>
      <ion-button fill="outline" expand="block" class="ion-margin-top">
        <ion-icon name="logo-google"></ion-icon>&nbsp;
        Google
      </ion-button>
    </form>
  </div>
</ion-content>
<ion-footer>
  <div class="text-center p-4">
    <span>Todavia no tienes cuenta?</span>&nbsp;
    <a href="#" target="#" rel="noopener noreferrer">Registrate</a>
  </div>
</ion-footer>
<ion-alert [isOpen]="isAlertOpen" header="Login Error" [message]="errorMessageAlert()" [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"></ion-alert>