<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="font-bold">Nuevo Usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-list lines="none">

      <ion-item class="my-4">
        <ion-input shape="round" fill="outline" mode="md" label="" placeholder="Ingrese nombre" formControlName="name"
          [errorText]="messages().name.message">
        </ion-input>
      </ion-item>

      <ion-item class="mb-4">
        <ion-input shape="round" fill="outline" mode="md" label="" placeholder="Ingrese apellido" formControlName="last"
          errorText="Invalid email"></ion-input>
      </ion-item>

      <ion-item class="mb-4">
        <ion-input fill="outline" mode="md" label="" type="number" placeholder="00" formControlName="age"
          errorText="Invalid email"></ion-input>
      </ion-item>

      <ion-item class="mb-4">
        <ion-input fill="outline" mode="md" label="" type="email" placeholder="email@domain.com"
          errorText="Invalid email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="mb-4">
        <ion-label floating>Date: *</ion-label>
        <ion-datetime formControlName="dateOfBirth" displayFormat="DD.MM.YYYY" presentation="day-month-year"
          formControlName="birthday"></ion-datetime>
      </ion-item>

    </ion-list>
  </form>
</ion-content>
<ion-footer class="ion-no-border hide-on-keyboard-open">
  <ion-button (click)="submitForm()" class="m-4" expand="block">Insertar</ion-button>
</ion-footer>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>