<app-header title="Mi Perfil"></app-header>
<ion-content>
  <div class="profile-header">
    <img class="profile-picture"
      src="https://images.squarespace-cdn.com/content/v1/5e6ece70bd2f8a6de8472818/714f685e-d0ba-40f9-8bb2-38722c1fd29c/Tiny+Avatar.png"
      alt="profile-picture">
    <div class="profile-name">Pierre Garamendi</div>
    <div>pierre@gmail.com</div>
  </div>
  <div class="profile-info">
    <div class="profile-info-element">
      <div class="profile-info-element-data">
        126/7
      </div>
      <div>
        Scans
      </div>
    </div>
    <div class="profile-info-element">
      <div class="profile-info-element-data">
        1/6
      </div>
      <div>
        Usuarios
      </div>
    </div>
    <div class="profile-info-element">
      <div class="profile-info-element-data">
        893/2500
      </div>
      <div>
        Codigos
      </div>
    </div>
  </div>
  <ion-card>
    <ion-card-content>
      <div class="profile-option">
        <div class="profile-option-head">
          <ion-icon size="small" name="settings-outline"></ion-icon>
          <h2 class="profile-option-text">Settings</h2>
        </div>
        <div class="profile-option-icon">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>