<app-header title="Mi Perfil"></app-header>
<ion-content>
  <div class="flex flex-col justify-center items-center mb-8">
    <img class="w-24 rounded mt-8" [src]="url" alt="profile-picture">
    <div class="mt-6 text-2xl font-bold">{{user().name}}</div>
    <div class="mt-1">{{user().email}}</div>
  </div>
  <div class="flex flex-row m-2.5 justify-between mb-6">
    <div class="flex flex-col justify-between items-center w-full">
      <div class="font-bold">
        126/7
      </div>
      <div>
        Scans
      </div>
    </div>
    <div class="flex flex-col justify-between items-center w-full">
      <div class="font-bold">
        1/6
      </div>
      <div>
        Usuarios
      </div>
    </div>
    <div class="flex flex-col justify-between items-center w-full">
      <div class="font-bold">
        893/2500
      </div>
      <div>
        Codigos
      </div>
    </div>
  </div>
  <ion-card (click)="openPersonalDataModal()">
    <ion-card-content>
      <div class="flex flex-row">
        <div class="flex flex-row w-full items-center">
          <ion-icon size="small" name="settings-outline"></ion-icon>
          <div class="ml-2">Settings</div>
        </div>
        <div class="flex items-center">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>