ion-list {
  background-color: var(  --ion-color-primary);
}
ion-menu-toggle{
  background-color: var(  --ion-color-primary);
}

ion-split-pane{ 
  --border: none !important;
  ion-menu{
   --background: var(  --ion-color-primary) !important; 
      ion-content{            
          --background: var(  --ion-color-primary) !important; 
          ion-list-header{ 
              --background: var(  --ion-color-primary) !important;
              --color: #FFFFFF !important;   
          }
          ion-item{
              --background: var(  --ion-color-primary) !important;
               --color: #FFFFFF !important;
               ion-icon{ padding-right: 10px !important; }
          }
      }
  }
}

ion-icon {
  color: white;
  --ionicon-stroke-width: 16px;
}
