.user-name {
  font-size: 1.2rem;
  font-weight: bolder;
}

.user-email {
    font-size: 1rem;
  }

.grid-container {
  display: grid;
  grid-template-columns: fit-content(50px) auto;
  padding: 18px;
  border-bottom: 1px solid gray;
}
